{% extends "shared/_layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}

{% block main_content %}
    <section class="vh-100" id="register-section">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong">
                        <div class="card-body p-5">

                            <form action="" method="POST">

                                <div class="text-center">
                                    <h3 class="mb-5">Register at PyPi</h3>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="name-input">Name</label>
                                    <input type="text" id="name-input" class="form-control form-control-lg"
                                           aria-describedby="name-help"/>
                                    <div id="name-help" class="form-text">
                                        Please enter your name.
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="email-input">Email</label>
                                    <input type="email" id="email-input" class="form-control form-control-lg"
                                           aria-describedby="email-help"/>
                                    <div id="email-help" class="form-text">
                                        Please enter a valid email. (Your email will not be shared).
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password-input">Password</label>
                                    <input type="password" id="password-input" class="form-control form-control-lg"
                                           aria-describedby="passwordHelpBlock"/>
                                    <div id="passwordHelpBlock" class="form-text">
                                        Your password must be at least 8 characters long, contain letters and numbers,
                                        and must not contain spaces, special characters, or emoji.
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-danger btn-lg btn-block" type="submit">Register</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}