{% extends "shared/_layout.html" %}

{% block title %}About PiPi{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/sponsors.css">
{% endblock %}

{% block main_content %}
    <div class="container-sponsor">
        <div class="row sponsor">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h1>Support PyPI and related projects</h1>
                    <h5>Sponsor the Python Software Foundation</h5>
                </div>
                <div class="mb-4">
                    <h5>The Python Software Foundation raises and distributes funds to improve Python's packaging
                    ecosystem.</h5>
                </div>

                <p>Recent projects funded include:</p>

                <ul>
                    <li>
                        The successful relaunch of the Python Package Index, powered by the new 'Warehouse' codebase
                        <br>
                        <small>
                            With <a href="https://pyfound.blogspot.com/2017/11/the-psf-awarded-moss-grant-pypi.html">
                            $170,000 in funding</a> from the <a href="https://www.mozilla.org/en-US/moss/">
                            Mozilla Open Source Support Program</a> in 2018
                        </small>
                    </li>
                    <li>
                        Improving PyPI's security and accessibility, and adding support for multiple locales
                        <br>
                        <small>
                            With $80,000 in funding from the
                            <a href="https://www.opentech.fund/results/supported-projects/pypi-improvements/">
                                Open Technology Fund</a> in 2019
                        </small>
                    </li>
                    <li>
                        Additional security-focused features for PyPI
                        <br>
                        <small>
                            With <a href="http://pyfound.blogspot.com/2018/12/upcoming-pypi-improvements-for-2019.html">
                            $100,000 in funding</a> from <a href="https://research.fb.com/">Facebook Research</a>
                            in 2019 and 2020
                        </small>
                    </li>
                    <li>
                        Overhauling pip's user experience and dependency resolver
                        <br>
                        <small>
                            With <a href="https://pyfound.blogspot.com/2019/12/moss-czi-support-pip.html">
                            $407,000 in funding </a> from the <a href="https://chanzuckerberg.com/eoss/">Chan Zuckerberg
                            Initiative</a> and the <a href="https://www.mozilla.org/en-US/moss/">
                            Mozilla Open Source Support Program</a> in 2020
                        </small>
                    </li>
                </ul>
                <p>With your support, the PSF can continue to fund packaging improvements, benefiting millions of Python
                    users around the world.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="card sponsor-card">
                    <div class="sponsor-card-header">
                        <div class="text-center m-4"><strong>PSF Sponsorship</strong></div>
                    </div>
                    <div class="card-body">
                        <p>All of these initiatives help maintain and support the tools that the Python community uses
                            daily. This work can only be done with the generous financial support that you or your
                            organization provides.</p>
                        <p>Your contributions matter and they make an impact. Every donation counts!</p>
                        <div class="card-button text-center">
                            <div class="d-grid gap-2">
                                <a class="btn btn-sponsor" href="https://www.python.org/sponsors/application/">Become a
                                    sponsor</a>
                            </div>
                            <small>The PSF is recognized by the IRS as a 501(c)(3) non-profit charitable organization,
                                and
                                donations are tax-deductible for organizations that pay taxes in the United
                                States.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 sponsor-benefits px-3 py-5">
            <div class="col-md-4 px-4 px-lg-5 py-4 py-md-0">
                <h3>Get your logo on PyPI.org</h3>
                <p>Looking for brand visibility? In the last year*, 21.1 million people from 237 countries visited
                    PyPI.org.</p>
                <p><small>* Data as of March 2020</small></p>
            </div>
            <div class="col-md-4 px-4 px-lg-5 py-4 py-md-0">
                <h3>Strengthen the Python ecosystem</h3>
                <p>Funds raised by the Python Software Foundation go directly towards improving the tools your company
                    uses every day.</p>
            </div>
            <div class="col-md-4 px-4 px-lg-5 py-4 py-md-0">
                <h3>Boost your reputation</h3>
                <p>Enhance your company's reputation by investing in Python and the open source community.</p>
            </div>
        </div>
    </div>
{% endblock %}